
<section>
  <h1>Welcome to the Zombo3 Zone</h1>
  <p>Post comments, read the feed, and later we'll analyze all the security problems on purpose.</p>
  <p><a class="btn" href="/comments">Go to Feed</a></p>
  <figure class="hero">
    <img src="/static/img/zombo3.png" alt="Logo">
  </figure>
</section>
